{% extends "_base.html" %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    {% for movie in movies %}
    <div class="col-sm-6 col-md-4 col-lg-3">
      <div class="thumbnail" style="cursor: pointer;"
           data-toggle="modal"
           data-target="#movie-modal"
           data-title="{{ movie.title }}"
           data-embed-uri="{{ movie.embed_uri }}"
           data-remove-uri="{{ url_for('remove', movie_id=movie.id) }}">
        <img src="{{ movie.image_uri }}" alt="{{ movie.title }}">
        <div class="caption text-center">
          <h3>{{ movie.title }}</h3>
        </div>
      </div>
    </div>
    {% else %}
    <p>No movies :(</p>
    {% endfor %}
  </div>
</div>

<div class="modal fade" id="movie-modal" tabindex="-1" role="dialog" aria-labelledby="movie-modal-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="movie-modal-label">Movie Title</h4>
      </div>
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="" allowfullscreen></iframe>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <form class="form" action="#" method="post" role="form">
            <button type="submit" class="btn btn-secondary">Remove Movie</button>
          </form>
        </div>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
{{super()}}
<script type="text/javascript">

/**
 * Set movide title and trailer video URI when showing modal.
 */
$('#movie-modal').on('show.bs.modal', function (event) {
  var ref = $(event.relatedTarget)
  var title = ref.data('title')
  var embedURI = ref.data('embed-uri')
  var removeURI = ref.data('remove-uri')
  var modal = $(this)
  modal.find('.modal-title').text(title)
  modal.find('iframe.embed-responsive-item').attr('src', embedURI)
  modal.find('form').attr('action', removeURI)
})

/**
 * Disable video playback when hiding modal.
 */
$('#movie-modal').on('hide.bs.modal', function () {
  $(this).find('iframe.embed-responsive-item').attr('src', '')
})

</script>
{% endblock %}
